#tetris{
  border-color: black;
  border: solid .3em;
  width: auto;
  height: auto;
}
#nextPiece{
  border-color: black;
  border: solid .3em;
  width: auto;
  height: auto;
}
#storedPiece{
  border-color: black;
  border: solid .3em;
  width: auto;
  height: auto;
}
body{
  background-color: gray;
  text-align:center;
}
#score{
  font-size: 2em;
  text-align: center;
}
#hold{
  float: left;
  margin-left: 20%;
  margin-top: 15%;
}
#next{
  float: right;
  margin-right: 20%;
  margin-top: 15%;
}
#instructions{
  text-align: left;
}
#enter{
  color: #64ff64; 
}
